#updata{
    float: left;
    width: 13vw;
    height: 98vh;
    background-color:slategrey;
    border-radius: 15px;
}
#office{
    float: left;
    width: 83vw;
    height: 98vh;
}
#namesystem{
    text-align: center;
    margin-top: 35vh;
    font-size: 50px;
    color:  rgb(77, 77, 255);
}
#buttdiv{
    margin: 50vh 15px 0 0 ;
}
#reutrn-text{
    overflow-y: scroll; 
    height: 92vh;
    font-size: 16px;
    text-align: center;
}

#file {
    display: none;
}
